 body {
  background-color: #000;
  color: #0f0;
  font-family: 'Vazirmatn', Tahoma, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.site-logo {
  width: 100px;
  margin: 20px auto 10px;
  display: block;
  border-radius: 10px;
}

.search-box {
  margin: 20px auto;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  border-radius: 6px;
  border: none;
  font-family: 'Vazirmatn', Tahoma, sans-serif;
}

button {
  padding: 8px 12px;
  background-color: #0f0;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Vazirmatn', Tahoma, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px auto;
  max-width: 320px;
}

.card {
  background-color: #111;
  padding: 15px;
  border-radius: 12px;
  color: #0f0;
  box-shadow: 0 0 10px #0f0;
  text-align: right;
  transition: 0.3s;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
}

.card:hover {
  background-color: #222;
}

.kali-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
}

.kali-logo {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.kali-text {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1;
  margin-right: 8px;
}

footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #888;
  font-family: 'Vazirmatn', Tahoma, sans-serif;
}
